
<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <%= f.label :receiver_id %>
    <%= f.number_field :receiver_id %>

    <%= f.label :receiver %>
    <%= f.text_field :receiver %>

  </div>
  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-medium btn-success'%>
  </div>
<% end %>
