<h1>Listing messages</h1>

<table>
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Content</th>
    <th>Status</th>
    <th>Folder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.sender_id %></td>
    <td><%= message.receiver_id %></td>
    <td><%= message.content %></td>
    <td><%= message.status %></td>
    <td><%= message.folder_id %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
