  <div id="folders">
    <ul>
      <li>
        <%= link_to 'INBOX', messages_path(folder: 'inbox') %>
      </li><li>
        <%= link_to 'SENT', messages_path(folder: 'sent') %>
      </li><li>
        <%= link_to 'DRAFTS', messages_path(folder: 'drafts') %>
      </li><li>
        <%= link_to 'ARCHIVE', messages_path(folder: 'archive') %>
      </li>
    </ul>
    <div id="signout">
      <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
    </div>
   </div>


  <div id="compose">
      <%= link_to 'COMPOSE', new_message_path %>
  </div>
  <div id="content">
  <div id="list_mails">
    <% @messages.each do |message| %>
      <%= link_to '#' do %>
        <% if @current_folder == 'inbox' %>
          <p>
            From:
             <%= @messages.first.sender.email %>
          </p>
          <% else %>
            <p>
              To:
               <%= message.receiver.email %>
            </p>
        <% end %>

           <p>
            Subject:
            <%= message.subject %>
          </p>
          <div id="data">
              <%= message.created_at %>
          </div><hr>
        <% end %>
      
      <!--   <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
     
    <% end %>
  


      
  </div>

        <div id="mail_menu">
          <ul>
            <li>
              <%= link_to 'Add contact', "#" %>
            </li>
            <li>
              <%= link_to 'Reply to sender', "#" %>
            </li>
            <li>
              <%= link_to 'Reply to all', "#" %>
            </li>
            <li>
              <%= link_to 'Forward', "#" %>
            </li>
            <li>
              <%= link_to 'Delete', "#" %>
            </li>
            <li>
              <%= link_to 'Move', "#" %>
            </li>
          </ul>
  </div>

  <div id="mail">
      <div id="from_to">
        <p>
            Subject:
            
        </p>
        <% if @current_folder=='inbox' %>
           <p class="sender_receiver">
               From:
                
            </p>
        
            <p class="sender_receiver">
                To:
            </p>
        <% else %>
            <p class="sender_receiver">
                To:
            </p>
        <% end %>
      </div>


  </div>
</div>