<div class="messagecontainer">
  <div id="folders">
    <ul>
      <li>
       <%= link_to 'COMPOSE', '#', id:'composebutton' %>
      </li>
      <li>
        <%= link_to "INBOX (#{current_user.messages_with_unread_status})", messages_path(folder: 'inbox') %>
      </li>
      <li>
        <%= link_to 'SENT', messages_path(folder: 'sent') %>
      </li>
      <li>
        <%= link_to 'DRAFTS', messages_path(folder: 'drafts') %>
      </li>
      <li>
        <%= link_to 'ARCHIVE', messages_path(folder: 'archive') %>
      </li>
    </ul>
    <div id="signout">
      <%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %>
    </div>
   </div>

  <div id="content">
  <div id="list_mails">
		<ul>
    <% @messages.each do |message| %>
			<li data-message="<%= message.id %>">
	      <%= link_to '#' do %>
	        <% if @current_folder == 'inbox' %>
	          <span class="maildet">
	            From:
	             <%= message.sender.email %>
	          </span>
	        <% else %>
            <span class="maildet">
              To:
               <%= message.receiver.email %>
            </span>
	        <% end %>

					<span class="maildet">
          	Subject:
          	<%= message.subject %>
					</span>
	        <span class="data">
	          <%= message.created_at %>
	        </span>

					<hr>
	       <% end %>
			</li>

      <!--   <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
     <% end %>
		 </ul>
   </div>
   <div id="mail_menu">
    <ul>
      <li>
        <%= link_to 'Add contact', "#" %>
      </li>
      <li>
        <%= link_to 'Reply to sender', "#" %>
      </li>
      <li>
        <%= link_to 'Reply to all', "#" %>
      </li>
      <li>
        <%= link_to 'Forward', "#" %>
      </li>
      <li>
        <%= link_to 'Delete', "#" %>
      </li>
      <li>
        <%= link_to 'Move', "#" %>
      </li>
    </ul>
  </div>

  <div id="mail">
      <div id="from_to">

      </div>
  </div>

</div>
</div>