<h1>Listing messages</h1>

<table>
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Subject</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if user_signed_in? %>
  <% current_user.messages.each do |message| %>
    <tr>
      <td><%= message.sender_id %></td>
      <td><%= message.receiver_id %></td>
      <td><%= message.subject %></td>
      <td><%= message.content %></td>
      <td><%= link_to 'Show', message %></td>
      <td><%= link_to 'Edit', edit_message_path(message) %></td>
      <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<% else %>
  <h2>
    not logged in
  </h2>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
