<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= current_user.message.sender_id %>
</p>

<p>
  <b>Receiver:</b>
  <%= current_user.message.receiver_id %>
</p>

<p>
  <b>Subject:</b>
  <%= current_user.message.subject %>
</p>

<p>
  <b>Content:</b>
  <%= current_user.message.content %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
