<div class="signupform">
  <h2  class="formtitle">Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><span class="inlinefields"><%= f.label :email %></span>
    <%= f.email_field :email, :autofocus => true %></div>

    <div><span class="inlinefields"><%= f.label :password %></span>
    <%= f.password_field :password %></div>

    <div><span class="inlinefields"><%= f.label :password_confirmation %></span>
    <%= f.password_field :password_confirmation %></div>

    <div><label> </label><%= f.submit "Sign up", class:'btn btn-medium' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
