<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :option_value %><br />
    <%= f.text_field :option_value %>
  </div>
  <div class="field">
    <%= f.label :option_name %><br />
    <%= f.text_field :option_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
