<div class="page-header">
  <h1 class="pull-right span12">
      Email 
  </h1>
  <nav class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          	<li>	
          	  <%= link_to 'Home', root_path %>
          	</li>
            <li>  
              <%= link_to 'Register', new_user_registration_path %>
            </li>
            <li>  
              <%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %>
            </li>
            <li>  
              <%= link_to 'Sign In', new_user_session_path %>
            </li>
            <li>  
              <%= link_to 'Messages', messages_path %>
            </li>
        </ul>
      </div>
  </nav>
</div>