<div class="contactform">
	 <h1>
        <span class="btn btn-success btn-large" id="read-emails">
          <%= link_to 'New Contact', new_contact_path %>
        </span>
	</h1>
        
  <h2>Name</h2>
  <h2>Email</h2>
      
   <table class="table table-hover">
      
        <ul>
          <% @contacts.each do |contact| %>
          <tr>
            <td>
              <li>
                <%= contact.name %>
              </li>
            </td>
            <td>
              <%= contact.email %>
                
                <span class="btn btn-success btn-small" class="read-emails">
                          <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }%>
                </span>
                <span class="btn btn-success btn-small " class="butonedit" >
                         <%= link_to 'Edit', edit_contact_path(contact) %>
                </span>
            </td>
          </tr>
        <ul>
          <% end %>
        
    </table>
  
</div>





        

    
      




