<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @tag.message_id %>
</p>

<p>
  <b>User:</b>
  <%= @tag.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @tag.title %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
